<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/meta')%>
  </head>
  <body>
    <%- include('./partials/header') %>

    <main>
      <h2><%= title %></h2>

      <form method='POST' action=''>
        <label>
          Name:
          <input
            type="text"
            required='true'
            placeholder="Brand name"
            name="name"
            value="<%= locals.brand ? brand.name : '' %>"
          >
        </label>
        <label>
          Description:
          <textarea
            rows="3"
            cols="50"
            required='false'
            placeholder="Brand description"
            name="description"
          ><%= locals.brand ? brand.description : '' %></textarea>
        </label>
        <label>
          Address:
          <input
            type="text"
            required='true'
            placeholder="Brand address"
            name="address"
            value="<%= locals.brand ? brand.address : '' %>"
          >
        </label>
        <button type="submit">Save</button>
      </form>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>