<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/meta')%>
  </head>
  <body>
    <%- include('./partials/header')%>

    <main>
      <h2>All Brands</h2>
      <div class='grid-parent'>
        <% for (const brand of all_brands) { %>
          <div class='grid-child card'>
            <h3>
              <a href="<%= brand.url %>"><%= brand.name %></a>
            </h3>
            <p><%= brand.address %></p>
          </div>
          <% } %>
        </div>
        <p>
          <a class="button" href='/brand/create'>Create Brand</a>
        </p>    
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>