<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <h2>All Categories</h2>
    <div class='grid-parent'>
      <% for (const category of all_categories) { %>
        <div class='grid-child card'>
          <h3>
            <a href="<%= category.url %>"><%= category.name %></a>
          </h3>
          <p><%= category.description %></p>
        </div>
        <% } %>
      </div>
    <hr />
    <p>
      <a href='/category/create'>Create Category</a>
    </p>
  </body>
</html>
