<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/meta')%>
  </head>
  <body>
    <%- include('./partials/header')%>

    <main>
      <h2>All Categories</h2>
      <div class='grid-parent'>
        <% for (const category of all_categories) { %>
          <div class='grid-child card'>
            <h3>
              <a href="<%= category.url %>"><%= category.name %></a>
            </h3>
            <p><%= category.description %></p>
          </div>
          <% } %>
        </div>
      <hr />
      <p>
        <a href='/category/create'>Create Category</a>
      </p>  
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>