<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/meta')%>
  </head>
  <body>
    <%- include('./partials/header')%>

    <main>
      <h2><%= title %></h2>
      <form method='POST' action=''>
        <label>
          Name:
          <input
            type="text"
            required='true'
            placeholder="Category name"
            name="name"
            value="<%= locals.category ? category.name : '' %>"
          >
        </label>
        <label>
          Description:
          <input
            type="text"
            required='false'
            placeholder="Category description"
            name="description"
            value="<%= locals.category ? category.description : '' %>"
          >
        </label>
        <button class="button" type="submit">Save</button>
      </form>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>