<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/meta')%>
  </head>
  <body>
    <%- include('./partials/header')%>

    <main>
      <h2>Log In</h2>

      <% if (locals.errors) { %>
        <ul class="errors">
          <% for (const error in errors) { %>
            <li>error.msg</li>
          <% } %>
        </ul>
      <% } %>
  
      <form method='POST' action=''>
        <label>
          Username:
          <input
            type="text"
            required='true'
            placeholder="Your username"
            name="username"
            value="<%= locals.user ? user.username : '' %>"
          />
        </label>
        <label>
          Password:
          <input
            type="password"
            required='true'
            placeholder="Password"
            name="password"
            value=""
          />
        </label>
        <button type="submit">Log In</button>
      </form>

      <hr />
      <p>Don't have an account? <a href='/user/sign-up'>Sign Up</a></p>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>