<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/meta')%>
  </head>
  <body>
    <%- include('./partials/header') %>

    <main>
      <h2>All Products</h2>
      <div class='grid-parent'>
        <% for (const product of all_products) { %>
          <div class='grid-child card'>
            <h3>
              <a href="<%= product.url %>"><%= product.name %></a>
            </h3>
      
            <% if (product.available) { %>
              <p><%= product.brand.name %></p>
              <p>&pound;<%= product.price %> | <%= product.weight %>lbs.</p>
              <p>In stock: <%= product.number_in_stock %></p>
            <% } else { %>
                <p>Currently out of stock</p>
            <% } %>
          </div>
        <% } %>
      </div>
      <p>
        <a class="button" href='/product/create'>Create Product</a>
      </p>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>