<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/meta')%>
  </head>
  <body>
    <%- include('./partials/header')%>

    <main>
      <h2><%= title %></h2>

      <p>Are you sure you want to delete this product?</p>
      
      <p><strong><%= product.name %></strong></p>
      <p>&pound;<%= product.price %> | <%= product.weight %>lbs. | <%= product.category.name %></p>
      <p>Total in stock: <%= product.number_in_stock %></p>
      <p><%= product.description %></p>
      <hr />
      
      <form method="POST" action="">
        <input type="hidden" name="productid" value="<%= product._id %>" required='true'>
        <button type="submit">Delete</button>
      </form>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>