<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/meta')%>
  </head>
  <body>
    <%- include('./partials/header')%>

    <main>
      <h2><%= product.name %></h2>
      <h3>
        <a href='<%= product.brand.url %>'><%= product.brand.name %></a>
      </h3>
      <p>&pound;<%= product.price %> | <%= product.weight %>lbs. | <%= product.category.name %></p>
      <p>Total in stock: <%= product.number_in_stock %></p>
      <p><%= product.description %></p>
      <% if (locals.currentUser && locals.currentUser.admin) { %>
        <hr />
        <p>
          <a href='<%= product.url %>/update'>Update</a> | <a href='<%= product.url %>/delete'>Delete</a>
        </p>
      <% } %>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>